name: Lint Text
on: [pull_request]

jobs:
  vale:
    name: Run Vale Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
      - name: Install Vale
        run: |
          curl -L "https://github.com/errata-ai/vale/releases/download/v3.13.1/vale_3.13.1_Linux_64-bit.tar.gz" -o vale.tar.gz
          tar -xzf vale.tar.gz -C /usr/local/bin vale
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install MDX preprocessor
        run: npm install -g mdx2vast
      - name: Run vale
        run: vale sync && vale .
  docs-quality:
    name: Check docs standards
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Mintlify CLI
        run: npm install -g mintlify
      - name: Run Mintlify broken-links
        run: mintlify broken-links
